body{

margin:0;

background:#75cfff;

font-family:"Pixelify Sans",sans-serif;

}


.window{


width:900px;

margin:40px auto;

background:
linear-gradient(
135deg,
#dff7ff,
#7edcff
);


border-radius:25px;

padding:25px;

box-shadow:
0 0 30px white,
inset 0 0 30px #fff;


}


h1{

text-align:center;

color:#008cff;

font-size:40px;

text-shadow:
2px 2px white;

}



.toolbar{

display:flex;

gap:10px;

justify-content:center;

margin:20px;


}



button{


background:white;

border:3px solid #55bfff;

border-radius:10px;

padding:10px;

font-family:inherit;

cursor:pointer;


}



#page{


height:600px;

position:relative;

overflow:hidden;


background-repeat:repeat;

border-radius:20px;

border:5px solid white;


}



#diary{


position:absolute;

left:30px;

top:30px;

width:300px;

height:200px;

background:#ffffffaa;

border:3px dashed #66ccff;

font-family:inherit;

font-size:18px;


}



.sticker{


position:absolute;

cursor:move;

user-select:none;


}



.message{


margin-top:30px;

background:#ffffffaa;

padding:20px;

border-radius:20px;


}



input,textarea{


width:90%;

padding:10px;

font-family:inherit;

border-radius:10px;

border:2px solid #88ddff;


}
